---
import { usePath } from "../hooks/usePath";
import { getLangFromUrl, getLocalesUrl, translate } from "../i18n/utils";
import LangSwitcher from "./LangSwitcher";
import NavMenu from "./NavMenu";
import SocialsPopover from "./SocialsPopover";

const lang = getLangFromUrl(Astro.url);
const langListUrl = getLocalesUrl();
const { header: t } = translate(lang);

const { routes, path } = usePath(Astro.url, lang);

console.log("Header lang:", t);
const socials = [
  {
    label: "Discord",
    href: "https://discordapp.com/users/384053588042711040"
  },
  {
    label: "GitHub",
    href: "https://github.com/Zigl3ur"
  },
  {
    label: "LinkedIn",
    href: "https://www.linkedin.com/in/eden-douru/"
  }
];
---

<header
  class="bg-background border-gray sticky top-0 z-10 flex w-full items-center justify-between border-b border-dashed px-6 py-4"
>
  <div
    class="border-gray bg-gray/20 hidden items-center gap-1 border border-dashed p-1 sm:inline-flex"
  >
    <LangSwitcher
      client:load
      actual={lang}
      localesUrls={langListUrl}
      path={path}
    />
    <span class="border-gray h-6 w-px border border-dashed"></span>
    <nav class="flex gap-1">
      {
        routes.map((route) => {
          const isActive = route.href === path;

          return (
            <a
              href={route.href}
              class={`active:bg-gray/60 px-2 py-1 font-mono text-sm transition-colors duration-200 hover:cursor-pointer ${isActive ? "bg-gray/80" : "hover:bg-gray/40"}`}
            >
              {route.label}
            </a>
          );
        })
      }
    </nav>
  </div>
  <div class="inline-flex sm:hidden">
    <NavMenu client:load t={t} routesList={routes} langsList={langListUrl} />
  </div>

  <nav
    class="border-gray bg-gray/20 hidden items-center gap-1 border border-dashed p-1 sm:inline-flex"
  >
    {
      socials.map((social) => (
        <a
          href={social.href}
          class="active:bg-gray/60 hover:bg-gray/40 px-2 py-1 font-mono text-sm transition-colors duration-200 hover:cursor-pointer"
          target="_blank"
          rel="noopener noreferrer"
        >
          {social.label}
        </a>
      ))
    }
  </nav>
  <div class="inline sm:hidden">
    <SocialsPopover client:load t={t} />
  </div>
</header>
